#global-message {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  text-align: center;
  height: 28px;
  z-index: 99999;
}

.uk-notification-message {
  background: rgba(255, 255, 255, 0.75) !important;
  font-weight: 100;
  color: $dark-gray;
}

.uk-notification-message-danger {
  border-left: 10px solid $red;
}

.uk-notification-message-success {
  border-left: 10px solid $green;
}

.uk-notification-message-warning {
  border-left: 10px solid $yellow;
}

.uk-notification-message-primary {
  border-left: 10px solid $blue;
}
