/**
 * Styling for course component.
 * Individual courses.
 */

.course-title {
  font-family: "medium";
}

.course-author {
  font-family: "light", sans-serif;
  font-size: 16px;
  color: #7e7e7e;
}
