# To enable your project environment, rename the file to ".env" (remove the ".example" suffix)
# and populate the incomplete values
# Please ask project administrator if you have concerns about values to use

#environment
HOST=http://localhost:3000/

#api
SECRET=

#mysql
DBHOST=
DBNAME=
DBUSER=
DBPASSWORD=

#redis
REDISPORT=
REDISIP=
REDISPASS=

#jwt - Secret for signing JWTs
JWTKEY=

#mail - SMTP configuration for sending emails (registration, verification, etc)
MAILHOST=
MAILPORT=
MAILUSER=
MAILPASS=
