$m-breakpoint: 960px;
$l-breakpoint: 1200px;

// 1440
.landing-page {
  padding: 0;
  margin: 0;

  //** Top image **//

  .top-image {
    width: 100%;
    min-height: 300px;
  }

  //** Course-Info **//

  // .course-info {}

  .course-info-top {
    font-size: 46px;
    font-family: "Heavy", sans-serif;
    line-height: 0.7;
    margin: 0;
  }

  .course-info-mid {
    font-size: 32px;
    font-family: "Medium", sans-serif;
    margin: 0;
  }

  .course-info-bottom {
    font-size: 14px;
    font-family: "Light", sans-serif;
    margin: 0;
    margin-top: 18px;
  }

  .course-info-section {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 24px;
  }

  .course-info-description {
    padding: 0;

    @media screen and (min-width: $m-breakpoint) {
      transform: translate(0, -25%);
      max-width: 1200px;
    }

    @media screen and (min-width: $l-breakpoint) {
      transform: translate(0, -50%);
      max-width: 1200px;
    }
  }

  //** Course-Program **//
  .course-program {
    margin-top: 0;
    margin-bottom: 48px;
    max-width: 1200px;

    @media screen and (max-width: ($m-breakpoint - 1px)) {
      margin-top: 64px;
      margin-bottom: 64px;
    }
  }

  .course-program-description {
    align-items: center;
  }

  .course-program-label {
    @media screen and (max-width: $m-breakpoint - 1px) {
      margin-left: 16px;
      margin-right: 16px;
    }
  }

  .course-program-card {
    li {
      cursor: pointer;
    }

    .uk-slider {
      @media screen and (max-width: $m-breakpoint - 1px) {
        margin-left: 16px;
        margin-right: 16px;
      }
    }

    .uk-dotnav > .uk-active > * {
      background-color: $primary;
    }
  }

  .course-program-header {
    font-size: 32px;
    font-family: "Black", sans-serif;
  }

  .course-program-header-detail {
    font-size: 24px;
    font-family: "Book", sans-serif;
  }

  .course-program-date-header {
    font-size: 54px;
    font-family: "Heavy", sans-serif;
    margin: 0;
  }

  .course-program-date {
    font-size: 46px;
    font-family: "Book", sans-serif;
    margin: 0 0 20px 0;
    line-height: 0.7;
  }

  .course-program-time {
    font-size: 12px;
    font-family: "Light", sans-serif;
    margin-top: 40px;
  }

  .course-program-detail {
    font-size: 32px;
    font-family: "Medium", sans-serif;
    margin: 0 0 5px 0;
    padding: 10px 10px 0 10px;
  }

  .course-program-detail-list {
    font-size: 14px;
    padding-left: 0;
    margin: 0 0 10px 10px;
  }

  .course-program-detail-list > li {
    font-family: "Light", sans-serif;
    margin-bottom: 6px;
    list-style-type: none;

    &::before {
      color: $primary;
      content: "\2022";
      font-size: 14px;
      margin-right: 10px;
    }
  }

  //** Student Quote **//

  .student-quote {
    font-size: 20px;
    font-family: "Light", sans-serif;
    max-width: 600px;
  }

  .student {
    font-size: 16px;
    font-family: "Light", sans-serif;
  }

  // ** Random Quote **//

  // .random-quote-section {
  //   // width: 100%;
  // }

  .random-quote {
    font-size: 22px;
    font-family: "Light", sans-serif;
    max-width: 600px;
  }

  .random-author {
    font-size: 22px;
    font-family: "Light", sans-serif;
    position: relative;
    top: 65%;
  }

  //** Venue **//

  .venue-body {
    min-height: 300px;
    padding-right: 48px;
  }

  .venue-title {
    font-size: 48px;
    font-family: "Black", sans-serif;
  }

  .venue-description {
    font-size: 32px;
    font-family: "Book", sans-serif;
  }

  .venue-image {
    min-height: 300px;
  }

  .venue-street-address {
    font-family: "Medium", sans-serif;
    font-size: 32px;
    text-align: left;
    margin: 36px 0 0 0;
  }

  .venue-county-state {
    font-family: "Medium", sans-serif;
    font-size: 32px;
    text-align: left;
    margin: 0 0 0 0;
  }

  // ** Program ** //

  .program-body {
    min-height: 300px;
    // padding-left: 48px;
  }

  .program-title {
    font-size: 48px;
    font-family: "Black", sans-serif;
  }
  // Help with alignment
  .program-description {
    font-size: 32px;
    font-family: "Book", sans-serif;
  }

  .request-button {
    font-size: 22px;
    font-family: "Book", sans-serif;

    &:hover {
      background-color: $tertiary;
    }
  }

  .program-image {
    min-height: 300px;
  }

  .footer {
    text-align: center;
    text-align: -webkit-center;
  }

  .copywrite {
    font-size: 10px;
    margin: 20px 0 0 0;
  }

  .footer-description {
    font-size: 10px;
    margin: 0 0 20px 0;
  }
}
