// 1440
.landing-page {
  padding: 0;
  margin: 0;

  //** Top image **//

  .top-image {
    width: 100%;
    min-height: 300px;
  }

  //** Course-Info **//

  .course-info {
    background-color: lightgrey;
    min-height: 320px;
  }

  .course-info-top {
    font-size: 46px;
    font-family: "Heavy", sans-serif;
    margin: 0;
  }

  .course-info-mid {
    font-size: 32px;
    font-family: "Medium", sans-serif;
    margin: 0;
  }

  .course-info-bottom {
    font-size: 14px;
    font-family: "Light", sans-serif;
    margin: 0;
    padding-top: 10px;
  }

  .course-info-section {
    margin: 0;
    padding: 24px;
  }

  // TODO - Media query for small devices < 960 px for this and program description
  .course-info-description {
    padding: 0;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    max-width: 1200px;
  }

  //** Course-Program **//

  .course-program-description {
    margin-top: 40px;
    padding: 0 10px 0 0;
    padding: 0;
    position: relative;
    top: 0;
    transform: translate(0, -40%);
    min-height: 200px;
    max-width: 1200px;
  }

  .course-program-section-1,
  .course-program-section-2,
  .course-program-section-3 {
    padding: 20px 0 20px 40px;
    // margin-bottom: 10px;
  }

  .course-program-section-1 {
    background-color: lightgray;
    max-width: 29%;
    min-height: 200px;
  }

  .course-program-section-2 {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 28px;
  }

  // .course-program-section-3 {
  //   padding-top: 0;
  //   position: relative;
  //   top: -4%;
  //   left: -20%;
  // }

  .course-program-header {
    font-size: 32px;
    font-family: "Black", sans-serif;
    margin: 0;
    padding-top: 5px;
    position: relative;
    top: 2%;
  }

  .course-program-header-detail {
    font-size: 24px;
    font-family: "Book", sans-serif;
    margin: 10px 10px 0 0;
    padding: 0 50px 0 0;
  }

  .course-program-date-header {
    font-size: 54px;
    font-family: "Heavy", sans-serif;
    margin: 0;
  }

  .course-program-date {
    font-size: 46px;
    font-family: "Book", sans-serif;
    margin: 0 0 20px 0;
    line-height: 0.7;
  }

  .course-program-time {
    font-size: 12px;
    font-family: "Light", sans-serif;
    min-width: 100px;
  }

  .course-program-section-3 {
    padding: 20px 0 0 0;
    margin: 0;
    position: relative;
    top: -2%;
    left: 18%;
  }

  .uk-divider-vertical {
    position: relative;
    height: 140px;
    top: 18%;
    left: 14%;
    max-width: 2px;
    padding: 0;
  }

  .course-program-detail {
    font-size: 32px;
    font-family: "Medium", sans-serif;
    margin: 0 0 5px 0;
    padding: 10px 10px 0 10px;
    flex-grow: 6;
  }

  .course-program-detail-list {
    font-size: 14px;
    padding-left: 0;
    margin: 0 0 10px 10px;
  }

  .course-program-detail-list > li {
    font-family: "Light", sans-serif;
    margin-bottom: 2px;
  }

  ul li {
    color: black;
    list-style: none;
    padding: 0;
    position: relative;
  }

  ul li::before {
    color: $primary;
    content: "\2022";
    font-size: 1.2em;
    left: -1.1225em;
    top: 0;
    margin-right: 10px;
  }

  //** Student Quote **//

  .student-quote {
    font-size: 20px;
    font-family: "Light", sans-serif;
    text-align: center;
    max-width: 45%;
  }

  .student {
    font-size: 16px;
    font-family: "Light", sans-serif;
    position: relative;
    top: 65%;
  }

  .student-quote-section {
    width: 100%;
    min-height: 300px;
  }

  // ** Random Quote **//

  .random-quote-section {
    width: 100%;
    min-height: 220px;
  }

  .random-quote {
    font-size: 22px;
    font-family: "Light", sans-serif;
    text-align: center;
    max-width: 45%;
  }

  .random-author {
    font-size: 22px;
    font-family: "Light", sans-serif;
    position: relative;
    top: 65%;
  }

  //** Venue **//

  .venue-body {
    min-height: 300px;
    padding-right: 48px;
  }

  .venue-title {
    font-size: 48px;
    font-family: "Black", sans-serif;
  }

  .venue-description {
    font-size: 32px;
    font-family: "Book", sans-serif;
  }

  .venue-image {
    min-height: 300px;
  }

  .venue-street-address {
    font-family: "Medium", sans-serif;
    font-size: 32px;
    text-align: left;
    margin: 36px 0 0 0;
  }

  .venue-county-state {
    font-family: "Medium", sans-serif;
    font-size: 32px;
    text-align: left;
    margin: 0 0 0 0;
  }

  // ** Program ** //

  .program-body {
    min-height: 300px;
    padding-left: 48px;
  }

  .program-title {
    font-size: 48px;
    font-family: "Black", sans-serif;
  }
  // Help with alignment
  .program-description {
    font-size: 32px;
    font-family: "Book", sans-serif;
  }

  .request-button {
    font-size: 22px;
    font-family: "Book", sans-serif;

    &:hover {
      background-color: $tertiary;
    }
  }

  .program-image {
    min-height: 300px;
  }

  .footer {
    text-align: center;
    text-align: -webkit-center;
  }

  .copywrite {
    font-size: 10px;
    margin: 20px 0 0 0;
  }

  .footer-description {
    font-size: 10px;
    margin: 0 0 20px 0;
  }
}
