@import '../../../../style/variables.scss';
@import '../../../../style/colors.scss';

#remove-video {
  height: $form-elements-height;

  button {
    height: $form-elements-height;
    padding: 0;
    font-size: 14px;
  }
}
