@import '../../../../style/variables';

.saveButton {
  background-color: $tertiary;
  color: $white;
  max-width: 235px;
}

.arrowIcon {
  margin-left: 10px;
}

#course-picture {
  float: none;
}

@media only screen and (max-width: 639px) {
  #courseStart,
  #courseExpire {
    max-width: 245px;
  }
}
