@import './../../../style/variables.scss';

.password-requirements {
  font-size: 12px;

  .show-password {
    margin: 0 0 -10px 0;
    min-width: 90px;
  }

  ul {
    margin-top: 0;
  }

  .fa-check {
    margin-left: 5px;
  }

  .fa-lock-alt {
    font-size: 18px;
    position: relative;
    left: 15px;
    top: 40px;
  }
}

.password-valid {
  border: 1px solid $green;
  background-color: rgba(2, 174, 114, 0.05);
}

#password-label {
  position: absolute;
  font-size: 14px;
}
