$selectedLinkColor: #f07f6b; // color in style guidelines is different from primary, secondary, and tertiary
$selectedLinkBackground: #f8f9fb;
$hoverTransitionTime: 0.5s;

.sidebar-panel {
  border-right: 1px solid #e8e8e8;
  height: 100vh;
  width: max-content;

  ul {
    padding-top: 24px;
    font-family: "Light", sans-serif;
    font-size: 20px;
    color: $light-gray;
    list-style: none;
    width: max-content;

    li {
      cursor: pointer;
      padding: 12px 36px 12px 24px;
      transition: $hoverTransitionTime;

      &:hover {
        color: $selectedLinkColor;
        background-color: $selectedLinkBackground;
      }
    }
  }

  .icon {
    min-width: 36px;
    margin-right: 0.5em;
  }

  .icon-hidden {
    opacity: 0;
  }

  .section-title {
    font-family: "Medium", sans-serif;
    font-size: 24px;
    color: $dark-gray;
    margin: 24px 0 24px 24px;
  }

  .active {
    color: $selectedLinkColor;
    background-color: $selectedLinkBackground;
    border-right: 2px solid $selectedLinkColor;
  }
}

.sidebar-sub-menu {
  border-right: 1px solid #e8e8e8;
  transition: opacity $hoverTransitionTime linear;

  ul {
    margin-bottom: 0;
    font-family: "Light", sans-serif;
    font-size: 20px;
    color: $light-gray;
    list-style: none;
    width: max-content;

    li {
      cursor: pointer;
      padding: 12px 36px 12px 24px;
      transition: $hoverTransitionTime;

      &:hover {
        color: $selectedLinkColor;
      }
    }
  }
}
