@import '../../../style/variables.scss';

$selectedLinkColor: #f07f6b; // color in style guidelines is different from primary, secondary, and tertiary
$selectedLinkBackground: rgba(0, 0, 0, 0.01);
$transitionTime: 0.2s;

.sidebar-panel {
  top: 80px;
  padding: 15px 0 0 0; // override uikit
  overflow-x: hidden;
  overflow-y: hidden;
  width: max-content;
  background-color: white;
  border-right: 1px solid #e8e8e8;

  &:hover {
    overflow-y: auto;
  }

  &:focus {
    overflow-y: auto;
  }

  .menu-primary {
    visibility: visible;
    font-family: "Light", sans-serif;
    font-size: 16px;
    color: $light-gray;
    list-style: none;
    width: max-content;
    min-width: 225px;

    li {
      cursor: pointer;
      transition: $transitionTime;

      &:hover {
        color: $selectedLinkColor;
        background-color: $selectedLinkBackground;
      }

      .primary-item-label {
        padding: 12px 18px 12px 24px;
        display: flex;
        align-items: center;
        border-right: 2px solid transparent; // so chevron angle doesn't move for active item

        .sub-angle-down {
          transition: transform $transitionTime ease;
          margin-left: auto;
        }

        .rotate {
          transform: rotate(180deg);
        }
      }

      .active {
        color: $selectedLinkColor;
        background-color: $selectedLinkBackground;
        border-color: $selectedLinkColor;
      }
    }
  }

  .menu-secondary {
    transition: height 0.2s ease;
    overflow-y: hidden;
    background-color: white;

    ul {
      color: $light-gray;

      li {
        padding: 8px 0 8px 48px;

        &:hover {
          background-color: white;
        }
      }
    }
  }

  .icon {
    min-width: 36px;
    margin-right: 0.5em;
  }

  .icon-hidden {
    opacity: 0;
  }

  .mobile-close {
    color: $light-gray;
    display: flex;
    justify-content: flex-end;

    span {
      cursor: pointer;
      padding: 12px; // make larger touch area for clicking close button (helps on mobile)
      overflow: overlay;
    }
  }

  .section-title {
    font-family: "Medium", sans-serif;
    font-size: 24px;
    color: $dark-gray;
    margin: 24px 0 24px 24px;
  }

  .spacer {
    height: 24px;
  }
}
