.auth-signup {
  .fa-check {
    position: relative;
    top: -38px;
    left: -30px;
    color: green;
  }

  .fa-exclamation-triangle {
    position: relative;
    top: 0 !important;
    left: 0 !important;
    margin-right: 10px;
    height: 12px;
    color: white;
  }
}
