/*
 * Styling for spinner component.
 */
#spinner {
  z-index: 1;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);

  [uk-spinner] {
    display: block;
    position: relative;
    top: 30vh;
    text-align: center;
  }
}
