#login-container {
  #login-logo {
    margin: 0 auto;
    display: block;
    max-width: 125px;
  }

  .uk-card-default {
    box-shadow: none;
  }

  .login-section {
    position: absolute;
    top: 30px;
  }

}
