#login-container {
  padding-top: 0;

  .uk-card-body {
    min-height: 515px;
  }

  input {
    font-size: 14px;
  }

  .password-requirements {
    font-size: 12px;

    .show-password {
      margin: 0;
    }

    ul {
      margin-top: 0;

      i {
        position: relative;
        height: 0;
        color: $green;
        left: 5px;
      }
    }
  }

  .password-valid {
    border: 1px solid $green;
    background-color: rgba(2, 174, 114, 0.05);
  }

  #spinner {
    z-index: 1;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.8);

    [uk-spinner] {
      display: block;
      position: relative;
      top: 50%;
      text-align: center;
    }
  }

  #login-logo {
    margin: 0 auto;
    display: block;
    max-width: 75px;
  }

  .uk-card-default {
    box-shadow: none;
  }

  .login-section {
    position: absolute;
    top: 30px;
  }

  .uk-form-icon {
    font-size: 16px;
  }

  .user-message {
    display: block;
    width: 100%;
    color: $offwhite;
    height: 30px;
    padding: 10px;
    line-height: 10px;
    background-color: $yellow;
    box-sizing: border-box;
    visibility: hidden;

    i {
      width: 15px;
      position: relative;
      color: $offwhite;
      float: right;
      font-size: 12px;
    }
  }
}
