/**
 * Dashboard page style page
 */
@import '../../style/variables';

#dashboard-container {
  background-color: $white;
}

#sidebar-container {
  transition: width 150ms ease-in-out;
  width: 0;
  // has(.open) wasn't working for some reason
  &.open {
    min-width: $sidebar-width;
    width: $sidebar-width;
  }
}

#panel-container {
  width: 100%;

  #panel-content {
    padding: 60px 25px 50px 30px;
  }
}
