// neutral colors
$black: #000000;
$dark-gray: #222222;
$light-gray: #595959;
$white: #FFFFFF;

// branding colors
$dark-gray: #333333;
$light-gray: #626262;
$primary: #EF806C;
$secondary: #F4A77C;
$tertiary: #EB8A50;
$offwhite: #F3EFEE;

// action colors
$yellow: #F1AF21;
$red: #EC2242;
$blue: #3FB3E1;
$green: #02AE72;

// branding colors
.bg-yellow {
  background-color: $yellow;
}
.bg-red {
  background-color: $red;
}
.bg-blue {
  background-color: $blue;
}
.bg-green {
  background-color: $green;
}
.bg-black {
  background-color: $black;
}
.bg-white {
  background-color: $white;
}
.bg-dark-gray {
  background-color: #333333;
}
.bg-light-gray {
  background-color: #626262;
}
.bg-primary {
  background-color: #EF806C;
}
.bg-secondary {
  background-color: #F4A77C;
}
.bg-tertiary {
  background-color: #EB8A50;
}
.bg-offwhite {
  background-color: #F3EFEE;
}

.black {
  color: $black !important;
}
.white {
  color: $white !important;
}
.yellow {
  color: $yellow;
}
.red {
  color: $red;
}
.blue {
  color: $blue;
}
.green {
  color: $green;
}
.dark-gray {
  color: #333333;
}
.light-gray {
  color: #626262;
}
.primary {
  color: #EF806C;
}
.secondary {
  color: #F4A77C;
}
.tertiary {
  color: #EB8A50;
}
.offwhite {
  color: #F3EFEE;
}

// selection color
::selection {
  background: $yellow; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: $yellow; /* Gecko Browsers */
}

// borders
.card-bar-blue {
  border-top: 3px solid $blue;
}
.card-bar-red {
  border-top: 3px solid $red;
}
.card-bar-green {
  border-top: 3px solid $green;
}
.card-bar-yellow {
  border-top: 3px solid $yellow;
}

.border-black,
.border-white,
.border-yellow,
.border-red,
.border-blue,
.border-green,
.border-dark-gray,
.border-light-gray,
.border-primary,
.border-secondary,
.border-tertiary,
.border-offwhite {
  border-style: solid;
}

.border-black {
  border-color: $black !important;
}
.border-white {
  border-color: $white !important;
}
.border-yellow {
  border-color: $yellow;
}
.border-red {
  border-color: $red;
}
.border-blue {
  border-color: $blue;
}
.border-green {
  border-color: $green;
}
.border-dark-gray {
  border-color: #333333;
}
.border-light-gray {
  border-color: #626262;
}
.border-primary {
  border-color: #EF806C;
}
.border-secondary {
  border-color: #F4A77C;
}
.border-tertiary {
  border-color: #EB8A50;
}
.border-offwhite {
  border-color: #F3EFEE;
}

.border-size-1 {
  border-width: 1px;
}
.border-size-2 {
  border-width: 2px;
}
.border-size-3 {
  border-width: 3px;
}
.border-size-4 {
  border-width: 4px;
}
.border-size-5 {
  border-width: 5px;
}
.border-size-6 {
  border-width: 6px;
}
