// neutral colors
$black: #000;
$dark-gray: #222;
$light-gray: #595959;
$white: #fff;

// branding colors
$dark-gray: #444;
$light-gray: #626262;
$primary: #dedede;
$secondary: #222;
$tertiary: #333;
$offwhite: #f3efee;

// action colors
$yellow: #f1af21;
$red: #ec2242;
$blue: #3fb3e1;
$green: #02ae72;

// branding colors
.bg-yellow {
  background-color: $yellow;
}

.bg-red {
  background-color: $red;
}

.bg-blue {
  background-color: $blue;
}

.bg-green {
  background-color: $green;
}

.bg-black {
  background-color: $black;
}

.bg-white {
  background-color: $white;
}

.bg-dark-gray {
  background-color: $dark-gray;
}

.bg-light-gray {
  background-color: $light-gray;
}

.bg-primary {
  background-color: $primary;
}

.bg-secondary {
  background-color: $secondary;
}

.bg-tertiary {
  background-color: $tertiary;
}

.bg-offwhite {
  background-color: $offwhite;
}

.black {
  color: $black !important;
}

.white {
  color: $white !important;
}

.yellow {
  color: $yellow;
}

.red {
  color: $red;
}

.blue {
  color: $blue;
}

.green {
  color: $green;
}

.dark-gray {
  color: $dark-gray;
}

.light-gray {
  color: $light-gray;
}

.primary {
  color: $primary;
}

.secondary {
  color: $secondary;
}

.tertiary {
  color: $tertiary;
}

.offwhite {
  color: $offwhite;
}

// selection color
::selection {
  background: $primary; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: $primary; /* Gecko Browsers */
}

// borders
.card-bar-blue {
  border-top: 3px solid $blue;
}

.card-bar-red {
  border-top: 3px solid $red;
}

.card-bar-green {
  border-top: 3px solid $green;
}

.card-bar-yellow {
  border-top: 3px solid $yellow;
}

.border-black,
.border-white,
.border-yellow,
.border-red,
.border-blue,
.border-green,
.border-dark-gray,
.border-light-gray,
.border-primary,
.border-secondary,
.border-tertiary,
.border-offwhite {
  border-style: solid;
}

.border-black {
  border-color: $black !important;
}

.border-white {
  border-color: $white !important;
}

.border-yellow {
  border-color: $yellow;
}

.border-red {
  border-color: $red;
}

.border-blue {
  border-color: $blue;
}

.border-green {
  border-color: $green;
}

.border-dark-gray {
  border-color: #333;
}

.border-light-gray {
  border-color: #626262;
}

.border-primary {
  border-color: #ef806c;
}

.border-secondary {
  border-color: #f4a77c;
}

.border-tertiary {
  border-color: #eb8a50;
}

.border-offwhite {
  border-color: #f3efee;
}

.border-size-1 {
  border-width: 1px;
}

.border-size-2 {
  border-width: 2px;
}

.border-size-3 {
  border-width: 3px;
}

.border-size-4 {
  border-width: 4px;
}

.border-size-5 {
  border-width: 5px;
}

.border-size-6 {
  border-width: 6px;
}
