.course-flex {
  display: flex;
  padding: 2%;
}

.card-width {
  width: 100%;
}

#auto-left {
  margin-left: auto !important;
}

@media only screen and (max-width: 768px) and (min-width: 766px) {
  .course-flex {
    display: block;
  }

  #course-img {
    width: 100%;
  }

  #course-description-section-container {
    width: 100%;
  }

  .all-courses-logo {
    margin-left: 30%;
    display: block;
    margin-right: 28%;
  }

  #all-courses-input {
    margin-left: 0% !important;
    display: block;
    margin-top: 7%;
    width: 96%;
  }

  #all-courses-button {
    display: block;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* For landscape layouts only */
  .nav-margin {
    margin-left: -1% !important;
  }

  #course-description-section-container {
    width: 85%;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* ipad portrait layouts only */
  .course-flex {
    display: block;
  }

  #auto-left {
    margin-left: auto !important;
    margin-right: auto;
  }

  #course-img {
    width: 100%;
  }

  #course-description-section-container {
    width: 100%;
  }

  .all-courses-logo {
    margin-left: 30%;
    display: block;
    margin-right: 28%;
  }

  #all-courses-input {
    margin-left: 0% !important;
    display: block;
    margin-top: 7%;
    width: 96%;
  }

  #all-courses-button {
    display: block;
  }
}

/* ----------- iPhone X ----------- */

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
  #auto-left {
    margin-left: auto !important;
    margin-right: auto;
  }

  .all-courses-logo {
    margin-left: 23%;
    display: block;
    margin-right: 28%;
  }

  #all-courses-input {
    margin-left: 0% !important;
    display: block;
    margin-top: 7%;
    width: 96%;
  }

  #all-courses-button {
    display: block;
  }

  .course-flex {
    display: block;
  }

  #course-img {
    width: 100%;
  }

  .container-for-the-whole-courses-section {
    margin-left: -33%;
    width: 118vw;
  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
  .all-courses-logo {
    margin-left: 31%;
  }

  #all-courses-button {
    margin-left: 8%;
  }

  #all-courses-input {
    margin-left: 8% !important;
  }
}

/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
  .course-flex {
    display: block;
  }

  #auto-left {
    margin-left: auto !important;
    margin-right: auto;
  }

  #course-img {
    width: 100%;
  }

  #course-description-section-container {
    width: 100%;
  }

  .all-courses-logo {
    margin-left: 30%;
    display: block;
    margin-right: 28%;
  }

  #all-courses-input {
    margin-left: 0% !important;
    display: block;
    margin-top: 7%;
    width: 96%;
  }

  #all-courses-button {
    display: block;
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait */
@media only screen
  and (max-height: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  #auto-left {
    margin-left: auto !important;
    margin-right: auto;
  }

  .all-courses-logo {
    margin-left: 23%;
    display: block;
    margin-right: 28%;
  }

  #all-courses-input {
    margin-left: 0% !important;
    display: block;
    margin-top: 7%;
    width: 96%;
  }

  #all-courses-button {
    display: block;
  }

  .course-flex {
    display: block;
  }

  #course-img {
    width: 100%;
  }

  .container-for-the-whole-courses-section {
    margin-left: -35%;
    width: 118vw;
  }
}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  .course-flex {
    display: block;
  }

  #auto-left {
    margin-left: auto !important;
    margin-right: auto;
  }

  #course-img {
    width: 100%;
  }

  #course-description-section-container {
    width: 100%;
  }

  .all-courses-logo {
    margin-left: 30%;
    display: block;
    margin-right: 28%;
  }

  #all-courses-input {
    margin-left: 0% !important;
    display: block;
    margin-top: 7%;
    width: 96%;
  }

  #all-courses-button {
    display: block;
  }
}

/* Portrait */

/* ----------- iPhone 5/SE ----------- */
@media only screen
  and (max-height: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  #auto-left {
    margin-left: auto !important;
    margin-right: auto;
  }

  .all-courses-logo {
    margin-left: 17%;
    display: block;
    margin-right: 26%;
  }

  #all-courses-input {
    margin-left: 0% !important;
    display: block;
    margin-top: 7%;
    width: 96%;
  }

  #all-courses-button {
    display: block;
  }

  .course-flex {
    display: block;
  }

  #course-img {
    width: 100%;
  }

  .container-for-the-whole-courses-section {
    margin-left: -54%;
    width: 139vw;
  }
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (orientation: landscape) {
  .course-flex {
    display: block;
  }

  #auto-left {
    margin-left: auto !important;
    margin-right: auto;
  }

  #course-img {
    width: 100%;
  }

  #course-description-section-container {
    width: 100%;
  }

  .all-courses-logo {
    margin-left: 30%;
    display: block;
    margin-right: 28%;
  }

  #all-courses-input {
    margin-left: 0% !important;
    display: block;
    margin-top: 7%;
    width: 96%;
  }

  #all-courses-button {
    display: block;
  }
}
