.nav-container li{
  display: flex;
  list-style-type: none;
}
nav{
  border: 1px solid rgb(238, 241, 245);
}
.all-courses{
  margin-right: auto;
}
input,.select select, .textarea {
    background-color: #fff;
    border-color: #dbdbdb;
    border-radius: 4px;
    color: inherit;
}
.select select {
    cursor: pointer;
    display: block;
    font-size: 1.1em;
    max-width: 100%;
    outline: 0;
}
.input, .select select, .textarea {
    background-color: #fff;
    border-color: #dbdbdb;
    border-radius: 4px;
    color: inherit;
}
.input, .textarea {
    font-size: 1.2em;
    box-shadow: inset 0 0.0625em 0.125em rgba(10,10,10,.05);
    max-width: 100%;
    width: 100%;
    height: 80%;
}
