html {
  scroll-behavior: smooth;
  height: 100%;
  -webkit-font-smoothing: antialiased;

  ::-webkit-scrollbar {
    width: 15px;
    position: fixed;
  }

  ::-webkit-scrollbar-track-piece {
    background-color: #fff;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #cbcbcb;
    outline: 0 solid #fff;
    outline-offset: -2px;
    border: 0.1px solid #b7b7b7;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #909090;
  }
}

* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  overflow-x: hidden;
  height: 100%;
}

main {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

section {
  flex-grow: 1;
}

footer {
  flex-shrink: 0;
}

p {
  z-index: 1;
}

.uk-card-default {
  box-shadow: none;
}
