html {
  scroll-behavior: smooth;
  height: 100%;
  -webkit-font-smoothing: antialiased;

  ::-webkit-scrollbar {
    width: 15px;
    position: fixed;
  }

  ::-webkit-scrollbar-track-piece {
    background-color: #fff;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #cbcbcb;
    outline: 0 solid #fff;
    outline-offset: -2px;
    border: 0.1px solid #b7b7b7;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #909090;
  }
}

* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  overflow-x: hidden;
  height: 100%;
}

main {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

section {
  flex-grow: 1;
}

footer {
  flex-shrink: 0;
}

p {
  z-index: 1;
}

.uk-card-default {
  box-shadow: none;
}

.uk-width-1-6 {
  width: 6.25%;
}

.uk-width-1-7 {
  width: 14.2857%;
}

.uk-width-1-8 {
  width: 12.5%
}

.uk-width-1-9 {
  width: 11.1111%
}

.uk-width-1-10 {
  width: 10%
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-between;

  .w-5 { width: 5%; }
  .w-10 { width: 10%; }
  .w-15 { width: 15%; }
  .w-20 { width: 20%; }
  .w-25 { width: 25%; }
  .w-30 { width: 30%; }
  .w-35 { width: 35%; }
  .w-40 { width: 40%; }
  .w-45 { width: 45%; }
  .w-50 { width: 50%; }
  .w-55 { width: 55%; }
  .w-60 { width: 60%; }
  .w-65 { width: 65%; }
  .w-70 { width: 70%; }
  .w-75 { width: 75%; }
  .w-80 { width: 80%; }
  .w-85 { width: 85%; }
  .w-90 { width: 90%; }
  .w-95 { width: 95%; }
  .w-100 { width: 100%; }
}
