// neutral colors
$black: #000;
$dark-gray: #222;
$light-gray: #595959;
$white: #fff;

// branding colors
$dark-gray: #333;
$light-gray: #626262;
$primary: #ef906c;
$secondary: #f4a77c;
$tertiary: #ea8a4f;
$snow: #f3efee;

// action colors
$yellow: #f1af21;
$red: #ec2242;
$blue: #3fb3e1;
$green: #02ae72;

// generic dimensions
$form-elements-height: 40px;

$sidebar-width: 235px;
