@import '../../style/variables.scss';

$bullet-offset: 30px; // offset of .data-containers from left edge
$bullet-radius: 9px;
$line-width: 6px; // width of vertical lines that connect bullet points

#timeline {
  .medium-family {
    font-family: 'medium', sans-serif;
  }

  .book-family {
    font-family: 'book', sans-serif;
  }

  /* Container around content including offsets for target bullet-points */
  .data-container {
    position: relative;
    left: $bullet-offset;
    padding-bottom: 30px;

    &::after {
      content: url('/images/svgs/target.svg');
      position: absolute;
      left: -$bullet-offset; // $bulletOffset - 18/2 (target radius) + 6/2 border width
      top: 0;
    }

    &::before {
      content: "";
      position: absolute;
      left: -$bullet-offset - $line-width / 2 + $bullet-radius; /* Lines up center of vertical line with center of bullet */
      border-left: 6px solid gainsboro;
      height: 100%;
    }

    // get rid of vertical line that sticks out above first bullet
    &:first-child {
      &::before {
        top: 9px; // radius of bullet
      }
    }

    // get rid of vertical line that sticks out below the last bullet
    &:last-child {
      &::before {
        height: 9px; //radius of bullet
      }
    }
  }
}
