#profile {
  //fonts
  .font34 {
    font-size: 34px;
  }

  .font26 {
    font-size: 26px;
  }

  .font20 {
    font-size: 20px;
  }

  .font18 {
    font-size: 18px;
  }

  .font16 {
    font-size: 16px;
  }

  .font14 {
    font-size: 14px;
  }

  .smallPadingTop {
    margin-top: 20px;
  }

  #title {
    height: 240px;
    background-image: url("/images/code.png");
    position: relative;

    @media screen and (max-width: 959px) {
      max-height: 200px;
    }

    .profile-title {
      color: white;
      font-family: "Light", sans-serif;
      margin: 0;
      text-decoration: none;
    }

    .role-Color {
      color: white;
    }

    #profilepic {
      position: relative;
      top: calc(100% - 80px);
      width: 125px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      box-shadow: 0 0 0 1px #fff;
    }
  }

  #Summary {
    min-height: 500px;

    #professional_Summary {
      color: black;
    }

    #infoCard {
      color: black;
    }

    .borderCard {
      border-radius: 5px;
      border: 2px solid rgba(0, 0, 0, 0.1);
    }

    #education {
      .circle {
        border: 2px solid red;
        padding: 10px 40px;
        background: red;
        width: 1px;
        height: 60px;
        border-radius: 100px;
        transform: scale(0.1, 0.1);
      }
    }
  }
}

html,
body {
  font-size: 1em;
}

.logo {
  text-align: left;
  float: left;
  margin-left: 10px;
}

.outer-circle {
  display: block;
  position: relative;
  height: 14px;
  width: 14px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #cd0000;
}

.inner-circle {
  top: 1px;
  left: 1px;
  display: block;
  position: relative;
  height: 11px;
  width: 11px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: #cd0000;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: gainsboro;
  top: 0;
  bottom: 0;
  left: 5%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 90%;
}

/* Place the container to the right */
.right {
  left: 5%;
}

/* The actual content */
.contents {
  padding: 0;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
}

#rss {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: red;
  left: -55px;
  position: relative;
  z-index: 1;
}

#rss::before {
  content: '';
  z-index: 1;
  display: block;
  height: 0.97em;
  width: 0.97em;
  background: red;
  border-radius: 50%;
  position: relative;
  top: 6.6px;
  left: 6.5px;
}

#rss::after {
  content: '';
  display: block;
  background: white;
  width: 22px;
  height: 22px;
  top: -12.2px;
  left: 2.9px;
  border-radius: 50%;
  position: relative;
}

.bg-gray {
  background-color: #f5f5f5;
}

// ------moved to slider.sccs
// .uk-slidenav-next {
//   background-color: white;
//   color: rgb(238, 108, 103);
//   border-radius: 10%;
// }

// .uk-slidenav-next:hover {
//   background-color: rgb(238, 108, 103);
//   color: white;
// }

// .uk-slidenav-previous {
//   background-color: white;
//   color: rgb(238, 108, 103);
//   border-radius: 10%;
// }

// .uk-slidenav-previous:hover {
//   background-color: rgb(238, 108, 103);
//   color: white;
// }

// .porject-preview {
//   height: 150px;
//   width: auto;
//   background-color: black;
// }

// .uk-card,
// .uk-card-default {
//   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
// }
