@import "../../style/variables.scss";

.uk-input {
  color: black;
}

.profile-pic-container {
  min-width: 182px;
}

.img-upload-container {
  position: relative;
  margin: auto;

  &.uk-placeholder {
    padding: 0;
  }

  .uk-form-custom {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  img {
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available; //stretch
  }
}

.uiif-textarea-width {
  resize: vertical;
}

.uiif-button {
  background-color: $tertiary;
  color: $snow;
}

.arrow-icon {
  margin-left: 10px;
}
