//slider projects css
#slider {
  background-color: #f5f5f5;

  #prev-slide,
  #next-slide {
    height: 45px;
    width: 45px;
    text-decoration: none;
    padding: 20px 0 0 0;
    font-size: 30px;
  }

  .uk-slidenav {
    background-color: white;
    color: rgb(238, 108, 103);
    border-radius: 10%;

    @media screen and (max-width: 1199px) {
      background-color: rgba(200, 200, 200, 0.1);
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.08);
    }
  }

  .uk-slidenav:hover {
    background-color: rgba(238, 108, 103, 0.75);
    color: white;
  }

  //preview
  .project-preview {
    height: 200px;
    width: auto;
    background-color: black;

    @media screen and (max-width: 960px) {
      height: 140px;
    }
  }
  //card shadow
  .uk-card,
  .uk-card-default {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  }

  //padding for card content
  .card-body {
    padding: 15px 20px;
  }
  //horizontal Rule
  .hr-slider {
    margin: 0;
    padding: 10px;
  }
}
