@import '../../../style/_variables.scss';

nav.uk-navbar-container {
  .uk-navbar-dropdown {
    padding: 25px;
    background: rgba(255, 255, 255, 0.8);
    color: #666;
    border-right: 1px solid #dedede;
    box-shadow: none;

    ul.uk-navbar-dropdown-nav {
      li {
        margin-bottom: 20px;

        a {
          transition: color 0.5s ease-in-out;
          text-align: left;

          &:hover {
            color: $primary;
          }
        }
      }
    }
  }

  &.uk-navbar {
    font-size: 16px;
  }

  .uk-navbar-nav li a {
    padding: 0 30px;
    font-family: 'Medium', sans-serif;
  }

  .home {
    margin-left: 70px;
  }

  .fa-envelope,
  .fa-bell {
    font-size: 18px;
  }

  .fa-user {
    font-size: 22px;
  }

  .uk-navbar-right {
    a.bg-snow {
      padding: 0 !important;
      min-width: 40px;
      min-height: 40px;
      background: rgba(255, 255, 255, 0.3);
      margin: 15px 20px 5px 5px;
      border-radius: 50%;
    }

    a:not(:last-child) {
      position: relative;
      min-width: 50px;
      min-height: 50px;
      margin-right: 30px;
      top: -5px;
    }

    .notification-bubble {
      top: 15px;
      background-color: rgba(255, 255, 255, 0.7);
      position: absolute;
      color: $dark-gray;
      border-radius: 50%;
      font-size: 8px;
      padding: 3px;
      text-align: center;
      line-height: 10px;
      margin-left: 15px;
    }

    .notification-status {
      background-color: $primary;
      padding: 3px;
      position: absolute;
      top: 45px;
      margin-left: 10px;
      border-radius: 50%;
    }
  }

  .profile {
    margin-right: 50px;
    min-width: 43px;
    min-height: 43px;
    background: lightgray;
    border-style: solid;
    border-color: rgba(239, 128, 108, 1);
    border-width: 4px;
  }

  img {
    margin-left: 10px;
    position: relative;
    top: -2px;
    width: 100%;
    max-width: 90px;
  }

  .uk-navbar-toggle {
    min-height: 50px;
  }

  .profile-mobile {
    min-height: 20px;
  }
}

.uk-offcanvas-bar {
  .offcanvas-logo {
    width: 100px;
    margin-bottom: 30px;
  }
}

.uk-nav-sub {
  li > a {
    color: darkgray !important;
  }
}
