@import '../../../style/_variables.scss';

#global-nav {
  li {
      padding: 0 10px;

    a {
        font-family: medium;
        font-size: 16px;
        color: $snow;

        &:hover {
          text-decoration-line: underline;
        }
      }
  }
}
